@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");

/* variables */
:root {
  --bg-color: #ffffff;
  --bg-card-color: #d1d3d4;
  --positive-color: green;
  --negative-color: red;
  --border-color: #1a1a1a;
  --hl-color: #dce359;
}
/* css reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  font-family: "NTR", sans-serif;
}

.main-title {
  font-size: 4rem;
  text-align: center;
}

.component-section {
  max-width: 600px;
  margin: auto;
  margin-bottom: 3rem;
}

/* balance */

.balance {
  background-color: var(--bg-card-color);
  border-radius: 5px;
  padding: 1rem 0;
}

.balance-title {
  width: fit-content;
  margin: auto;
}

.h3,
.h2,
.money {
  line-height: 4rem;
}

.h2,
.money {
  font-size: 3.3rem;
}

.h3 {
  font-size: 2.7rem;
}

.h2::after,
.h3::after {
  content: ": ";
}

.balance-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.money::before {
  content: "$ ";
  font-style: italic;
}

.positive {
  color: var(--positive-color);
}

.negative {
  color: var(--negative-color);
}

.v-divider {
  height: 55px;
  border-left: 2px solid var(--border-color);
}

.divider-line {
  max-width: 590px;
  margin: 0 auto 3rem auto;

  border-color: var(--border-color);
}
/* Add new transaction */

.btn,
.transaction-form input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  border-radius: 5px;
}

.transaction-form input {
  border: 1px solid var(--border-color);
  outline-color: var(--hl-color);
  background-color: #fff;
}

.t-normal {
  font-size: 2.5rem;
}

.d-block {
  display: block;
  width: 100%;
}

.btn {
  background-color: var(--hl-color);
  max-width: 400px;
  margin: auto;
  border: unset;
  margin-top: 3rem;
}

.amount-label::after {
  content: "(negative - expense, positive - income)";
  display: block;
  font-size: medium;
  margin-top: -1.5rem;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    margin: auto;
  }
}
/* History cards section */
.card {
  margin: 0;
  background-color: var(--bg-card-color);
  border-radius: 5px;
  padding: 0 0.7rem;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-content li {
  list-style: none;
}

.card-content li:last-child {
  font-style: italic;
}
