@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");

/* variables */
:root {
  --bg-color: #f7f7f7;
  --bg-card-color: #fff;
  --positive-color: green;
  --negative-color: red;
}
/* css reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  font-family: "NTR", sans-serif;
}

.main-title {
  font-size: 4rem;
  text-align: center;
}

.component-section {
  max-width: 600px;
  margin: auto;
}

/* balance */

.balance {
  background-color: var(--bg-card-color);
  border-radius: 5px;
}

.balance-title {
  width: fit-content;
  margin: auto;
}

.h3,
.h2,
.money {
  line-height: 4rem;
}

.h2,
.money {
  font-size: 3.3rem;
}

.h3 {
  font-size: 2.7rem;
}

.h2::after,
.h3::after {
  content: ": ";
}

.balance-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.money::before {
  content: "$ ";
  font-style: italic;
}

.positive {
  color: var(--positive-color);
}

.negative {
  color: var(--negative-color);
}

.v-divider {
  height: 55px;
  border-left: 2px solid gainsboro;
}

/* Add new transaction */

.add-transaction-form {
  margin-top: 5rem;
}

.t-normal {
  font-size: 2.5rem;
}

.d-block {
  display: block;
  width: 100%;
}

.btn {
  margin-top: 3rem;
}

.amount-label::after {
  content: "(negative - expense, positive - income)";
  display: block;
  font-size: medium;
  margin-top: -1.5rem;
}
